{:act-17
 {:args [plant1 plant2],
  :argsmap {},
  :command "cp",
  :constraints #{},
  :controllable false,
  :display-name "Cp",
  :end-node :node-28,
  :htn-node :hem-26,
  :name "Cp(plant1 plant2)",
  :tpn-type :activity,
  :uid :act-17},
 :act-27
 {:args
  [{:type :literal, :value "echo"}
   {:type :literal, :value :myoptions}
   p1.data1
   p2.data2],
  :argsmap
  {"arg1" {:type :literal, :value :myoptions},
   "arg2" p1.data1,
   "arg3" p2.data2,
   "cmd" {:type :literal, :value "echo"}},
  :command "shell",
  :constraints #{:tc-26},
  :controllable false,
  :cost 0,
  :display-name "Shell",
  :end-node :node-1,
  :htn-node :hem-28,
  :interface "RMQ",
  :name
  "Shell({:type :literal, :value \"echo\"} {:type :literal, :value :myoptions} p1.data1 p2.data2)",
  :plant-part "mypart2",
  :plantid "sp2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-27},
 :act-9
 {:args [plant2 plant2],
  :argsmap {"fromfile" plant2, "tofile" plant2},
  :command "scp",
  :constraints #{:tc-8},
  :controllable false,
  :cost 0,
  :display-name "Scp",
  :end-node :node-18,
  :htn-node :hem-24,
  :interface "RMQ",
  :name "Scp(plant2 plant2)",
  :plant-part "mypart2",
  :plantid "sp2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-9},
 :net-3
 {:begin-node :node-10,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-27},
  :tpn-type :state,
  :uid :node-1},
 :node-10
 {:activities #{:act-9},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-21,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-10},
 :node-18
 {:activities #{:act-17},
  :constraints #{},
  :htn-node :hem-26,
  :incidence-set #{:act-9},
  :tpn-type :state,
  :uid :node-18},
 :node-28
 {:activities #{:act-27},
  :constraints #{},
  :htn-node :hem-28,
  :incidence-set #{:act-17},
  :tpn-type :state,
  :uid :node-28},
 :tc-26
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-26,
  :value [0 3]},
 :tc-8
 {:end-node :node-18,
  :tpn-type :temporal-constraint,
  :uid :tc-8,
  :value [10 20]}}
